
   row
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	height: 917px;
       
	padding: 0em;
	}
	
	#banner header h2
	{
		font-size: 4em;
	}
	
	#banner header .byline
	{
		padding-top: 1em;
		font-size: 1.8em;
		font-weight: 500;
	}
#banner2
	{
	height: 917px;
	padding: 0em;
	}
	
	#banner2 header h2
	{
		font-size: 4em;
	}
	
	#banner2 header .byline
	{
		padding-top: 1em;
		font-size: 1.8em;
		font-weight: 500;

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 7em;
	padding-left: 0em;
	}
	
	.sidebar header h2
	{
		font-size: 1.8em;
	}

/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#extra
	{
		padding: 7em 0em;
	}
	
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
	padding-top: 2em;
	padding-right: 0em;
	padding-bottom: 3em;
	padding-left: 0em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
	padding-top: 1em;
	padding-right: 0em;
	padding-bottom: 1em;
	padding-left: 0em;
	}